<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHOP EC-Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../user/stylesheets/loginStyle.css">
    <link rel="stylesheet" type="text/css" href="../../user/stylesheets/register.css">
    <link rel="stylesheet"type="text/css"href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
    <script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js" type="text/javascript">      
    </script>
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="/admin/home">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Admin Panel</a>
            </li>
            <li class="nav-item">
              <a class="dropdown-item" href="">
                <form action="/admin/logout" method="">
                  <button type="submit" style="font-style: italic;" class="btn">Logout</button>
              </form>
            </a>
            </li>
          </ul>
        </div>
      </nav>
</header>
<section>
<div class="container-lg">
  <div class="table-responsive">
      <div class="table-wrapper" style="border-radius: 10px;">
          <div class="table-title" >
              <div class="row">
                  <div class="col-sm-8"><h2>Brands <b></b></h2></div>
                  <div class="col-sm-4">
                      <!-- Button trigger modal -->
<div class="container mb-2">
  <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#exampleModal">
    Add brand
  </button>
</div>


<form action="/admin/new-brand" method="post" enctype="multipart/form-data">
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title " id="exampleModalLabel">ADD BRAND</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <label class="" for="addcategory">ADD BRAND</label>
          <input type="text" name="name" id="newCategory" required>
          <br>
          <br>
          <label class="" for="addcategory">ADD LOGO</label>
          <input type="file" name="image" id="image" required>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">ADD</button>
        </div>
      </div>
    </div>
  </div>
</form>
                  </div>
              </div>
          </div>
          <table id="userTable" class="table table-bordered">
              <thead>
                  <tr>
                      <th>SI No</th>
                      <th>Brands</th>
                      <th>Logo</th>
                      <th>Actions</th>
                      
                  </tr>
              </thead>
              <tbody>
                <% 
                  let count=1;
                  brands.forEach((brands)=>{ %>
                  <tr>
                      <td><%= count %></td>
                      <td><%= brands.name %></td>
                      <td><img src="<%= brands.images[0].url %> " class="w-25 h-25" alt=""></td>
                      <td>
                          <a href="/admin/delete-brand?id=<%= brands._id %>"><button class="btn btn-danger m-2" onclick="return confirm('Are you sure want to delete <%= brands.name %>')" >Delete</button></a>
                      </td>
                  </tr>
                  <% count++ }); %>      
              </tbody>
          </table>
      </div>
  </div>
</div> 
</section>
<script>
  let sidebar = document.querySelector(".sidebar");
  let sidebarBtn = document.querySelector(".sidebarBtn");
  sidebarBtn.onclick = function () {
    sidebar.classList.toggle("active");
    if (sidebar.classList.contains("active")) {
      sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
    } else
      sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
  }
  var myModal = document.getElementById('myModal')
  var myInput = document.getElementById('myInput')
  myModal.addEventListener('shown.bs.modal', function () {
    myInput.focus()
  })
$(document).ready(function () {
    $('#categoryTable').DataTable();
});
</script>
<script
type="text/javascript"
charset="utf8"
src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"
></script>
<script
type="text/javascript"
charset="utf8"
src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
<script>
$(function() {
$("#userTable").dataTable();
});
</script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  </body>
</html>