<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>SHOP EC</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/landing.css" rel="stylesheet">
</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid">
        <div class="row bg-secondary py-2 px-xl-5">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="d-inline-flex align-items-center">
                    <a class="text-dark" href="">FAQs</a>
                    <span class="text-muted px-2">|</span>
                    <a class="text-dark" href="">Help</a>
                    <span class="text-muted px-2">|</span>
                    <a class="text-dark" href="">Support</a>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="text-dark pl-2" href="">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row align-items-center py-3 px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a href="" class="text-decoration-none">
                    <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">SHOP</span>EC</h1>
                </a>
            </div>
            <div class="col-lg-6 col-6 text-left">
                <form action="">
                    <!-- <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for products">
                        <div class="input-group-append">
                            <span class="input-group-text bg-transparent text-primary">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div> -->
                </form>
            </div>
            <div class="col-lg-3 col-6 text-right">
                <% if(typeof user!=='undefined'){ %>
                    <a href="/wishlist/<%= user._id %>" class="btn border">
                <% }else{ %> 
                    <a href="/login" class="btn border">
                <% } %> 
                    <i class="fas fa-heart text-primary"></i>
                    <span class="badge"></span>
                </a>

                <% if(typeof user!=='undefined'){ %>
                    <a href="/cart/<%= user._id %>" class="btn border">
                <% }else{ %>    
                    <a href="/login" class="btn border">
                <% } %> 
                    <i class="fas fa-shopping-cart text-primary"></i>
                    <span class="badge"></span>
                </a>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid mb-5">
        <div class="row border-top px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
                    <h6 class="m-0">Categories</h6>
                    <i class="fa fa-angle-down text-dark"></i>
                </a>
                <nav class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0" id="navbar-vertical">
                    <div class="navbar-nav w-100 overflow-hidden" style="height: 410px">
                        
                        <% category.forEach((category)=>{ %>
                        <a href="/user/singleProduct/<%= category._id %>" class="nav-item nav-link"><%= category.name %></a>
                        <% }) %>
                    </div>
                </nav>
            </div>
            <div class="col-lg-9">
                <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                    <a href="" class="text-decoration-none d-block d-lg-none">
                        <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">E</span>Shopper</h1>
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                            <a href="/" class="nav-item nav-link active">Home</a>
                            <% if(typeof user!=='undefined'){ %>
                            <a href="/viewOrders" class="nav-item nav-link">Orders</a>
                            <% } %>
                        </div>
                        <% if(typeof user!=='undefined'){ %>
                        <div class="navbar-nav ml-auto py-0">
                            <a href="/userProfile/<%= user._id %>"><h5 class="nav-item nav-link"><%= user.name %></h5></a>
                            <a href="/logout" class="nav-item nav-link">Logout</a>
                        </div>
                        <% }else{ %>
                            <div class="navbar-nav ml-auto py-0">
                                <a href="/login" class="nav-item nav-link">Login</a>
                                <a href="/register" class="nav-item nav-link">Register</a>
                            </div>
                        <% } %>    
                    </div>
                </nav>
                <div id="header-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        
                        <div class="carousel-item active" style="height: 410px;">
                            <div
                                class="carousel-caption d-flex flex-column align-items-center justify-content-center bg-secondary">
                                <div class="row ">
                                    <% for(let i=0 ; i < 1; i++ ) { %>
                                        <div class="col-md-8">
                                            <div class="p-3 " style="max-width: 700px; margin-top: 10rem;">
                                                <h3 class="text-primary text-uppercase font-weight-medium mb-3 ">
                                                    <%= banner[0].description %>
                                                </h3>
                                                <h2
                                                    class="display-4 text-warning text-uppercase font-weight-semi-bold mb-4">
                                                    <%= banner[0].highlight %>
                                                </h2>
                                                
                                            </div>
                                        </div>
                                        <div class="col-md-4 ps-3">
                                            <img class="" src="<%= banner[0].images[0].url %>" alt="Image">
                                        </div>
                                        <% } %>
                                </div>
                            </div>




                        </div>
                        <div class="carousel-item" style="height: 410px;">

                            <div
                                class="carousel-caption d-flex flex-column align-items-center justify-content-center bg-secondary">
                                <div class="row ">
                                    <% for(let i=1 ; i < 2; i++ ) { %>
                                        <div class="col-md-8">
                                            <div class="p-3" style="max-width: 700px;margin-top: 3rem;">
                                                <h4 class="text-primary text-uppercase font-weight-medium mb-3">
                                                    <%= banner[1].description %>
                                                </h4>
                                                <h3
                                                    class="display-4 text-warning text-uppercase font-weight-semi-bold mb-4">
                                                    <%= banner[1].highlight %>
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="col-md-4 ps-3">
                                            <img class="img-fluid " src="<%= banner[1].images[0].url %>"
                                                alt="Image">
                                        </div>
                                        <% } %>
                                </div>
                            </div>
                        </div>
                            
                                        
                            
                        
                    </div>
                    <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
                        <div class="btn btn-dark" style="width: 45px; height: 45px;">
                            <span class="carousel-control-prev-icon mb-n2"></span>
                        </div>
                    </a>
                    <a class="carousel-control-next" href="#header-carousel" data-slide="next">
                        <div class="btn btn-dark" style="width: 45px; height: 45px;">
                            <span class="carousel-control-next-icon mb-n2"></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar End -->


    <!-- Featured Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5 pb-3">
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">Quality Product</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                    <h5 class="font-weight-semi-bold m-0">Free Shipping</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">14-Day Return</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">24/7 Support</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- Featured End -->


    <!-- Categories Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5 pb-3">
            <% brands.forEach((brands)=>{ %>
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                    <p class="text-right"></p>
                    <a href="" class="cat-img position-relative overflow-hidden mb-3">
                        <img class="img-fluid" src="<%= brands.images[0].url %>" alt="">
                    </a>
                    <h5 class="font-weight-semi-bold m-0"><%= brands.name %></h5>
                </div>
            </div>
            <% })%>
        </div>
    </div>
    <!-- Categories End -->


    <!-- Offer Start -->
    
    <!-- Offer End -->


    <!-- Products Start -->
    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Products</span></h2>
        </div>
        <div class="row px-xl-5 pb-3">
            <% product.forEach((product)=>{ %>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="card product-item border-0 mb-4">
                    <a href="/productDetails/<%= product._id %>">
                        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                            <img class="img-fluid w-100" src="<%= product.images[0].url %>" alt="">
                        </div>
                        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                            <h6 class="text-truncate mb-3"><%= product.name %></h6>
                            <div class="d-flex justify-content-center">
                                <h6>Rs. <%= product.price %></h6><h6 class="text-muted ml-2"><del></del></h6>
                            </div>
                        </div>
                    </a>
                    
                    <div class="card-footer d-flex justify-content-between bg-light border">
                        <!-- <a href="" onclick="wishlist('<%=// product._id %>')" class="btn btn-sm text-dark p-0"><i class="fas fa-heart text-primary"></i> Wishlist</a> -->
                        <!-- <a href="/addToWishlist/<%=// product._id %>" class="btn btn-sm text-dark p-0"><i class="fas fa-heart text-primary"></i> Wishlist</a> -->
                        <button data-toggle="modal" data-target="#exampleModal1"
                                onclick="wishlist('<%= product._id %>')" class="btn btn-sm text-dark p-0"><i
                                    class="fas fa-heart text-primary"></i> Wishlist</button>
                        <!-- <a href="/addToCart/<%=// product._id %>" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a> -->
                        <button data-toggle="modal" data-target="#exampleModal"
                                onclick="cartList('<%= product._id %>')" class="btn btn-sm text-dark p-0"><i
                                    class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</button>
                    </div>
                </div>
            </div> <% }) %>  

            <div class="col-md-12">
                <a href="/allProducts" class="btn btn-success float-right rounded">See more</a>
            </div>
            
        </div>
    </div>
    <!-- Products End -->

    <!-- Subscribe Start -->
    <!-- Subscribe End -->

    <!-- Products Start -->
    <!-- just arrived -->
    <!-- Products End -->

    <!-- Vendor Start -->
    <!-- Vendor End -->

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cart Item</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <% if(typeof user!=='undefined'){ %>
                    <div class="modal-body text-success">
                        Item added to your Cart successfully...
                    </div>
                    <% } else { %>
                        <div class="modal-body text-danger">
                            You are not logged in !!!
                        </div>
                        <% } %>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>


                            </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Wishlist Item</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <% if(typeof user!=='undefined') { %>
                        <div id="message" class="modal-body text-success">
                        </div>
                        <% } else { %>
                            <div class="modal-body text-danger">
                                You are not logged in !!!
                            </div>
                            <% } %>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>


                                </div>
                </div>
            </div>
        </div>

        <%- include('../partials/userFooter') %>

<script>
    function cartList(id) {
        fetch('/addToCart/' + id, {
            method: 'get',
            headers: {
                'Content-type': 'application/json',
                body: JSON.stringify({ hai: "jhj" })
            }
        })
            .then(res => res.json())
            .then(data => {
                
            })
    }
</script>

<script>
     function wishlist(id) {
                    fetch('/addToWishlist/' + id, {
                        method: 'get',
                        headers: {
                            'Content-type': 'application/json',
                            body: JSON.stringify({ hai: "jhj" })
                        }
                    })
                        .then(res => res.json())
                        .then(data => {
                            if (data.success == true) {
                                document.getElementById('message').innerHTML = "<div class='text-success'> Item added to your Wishlist successfully...</div>"
                            } else {
                                document.getElementById('message').innerHTML = "<div class='text-danger'>Item already exist in your Wishlist !!!</div>"
                            }
                        })
                }
</script>